In [4]:
import yfinance as yf
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt 
import seaborn as  sns 
plt.rcParams["figure.figsize"]=(12,6)

In [3]:
apple_stock = yf.Ticker("AAPL")

hist_data = apple_stock.history(period="max")

hist_data.to_csv("apple_stock.csv")

In [5]:
df=pd.read_csv("/Users/saikarthik/Desktop/xai /apple_stock.csv")

In [6]:
df.head(5)

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits
0,1980-12-12 00:00:00-05:00,0.098943,0.099373,0.098943,0.098943,469033600,0.0,0.0
1,1980-12-15 00:00:00-05:00,0.094211,0.094211,0.093781,0.093781,175884800,0.0,0.0
2,1980-12-16 00:00:00-05:00,0.087328,0.087328,0.086898,0.086898,105728000,0.0,0.0
3,1980-12-17 00:00:00-05:00,0.089049,0.089479,0.089049,0.089049,86441600,0.0,0.0
4,1980-12-18 00:00:00-05:00,0.091630,0.092061,0.091630,0.091630,73449600,0.0,0.0

In [7]:
df.tail(5)

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits
11037,2024-09-25 00:00:00-04:00,224.929993,227.289993,224.020004,226.369995,42308700,0.0,0.0
11038,2024-09-26 00:00:00-04:00,227.300003,228.500000,225.410004,227.520004,36636700,0.0,0.0
11039,2024-09-27 00:00:00-04:00,228.460007,229.520004,227.300003,227.789993,34026000,0.0,0.0
11040,2024-09-30 00:00:00-04:00,230.039993,233.000000,229.649994,233.000000,54541900,0.0,0.0
11041,2024-10-01 00:00:00-04:00,229.550003,229.619995,225.059998,225.110001,16495277,0.0,0.0

In [8]:
df.shape

(11042, 8)

In [9]:
df.columns

Index(['Date', 'Open', 'High', 'Low', 'Close', 'Volume', 'Dividends',
       'Stock Splits'],
      dtype='object')

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11042 entries, 0 to 11041
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Date          11042 non-null  object
 1   Open          11042 non-null  float64
 2   High          11042 non-null  float64
 3   Low           11042 non-null  float64
 4   Close         11042 non-null  float64
 5   Volume        11042 non-null  int64
 6   Dividends     11042 non-null  float64
 7   Stock Splits  11042 non-null  float64
dtypes: float64(6), int64(1), object(1)
memory usage: 690.2+ KB

In [13]:
df.describe()

,Open,High,Low,Close,Volume,Dividends,Stock Splits
count,11042.000000,11042.000000,11042.000000,11042.000000,1.104200e+04,11042.000000,11042.000000
mean,22.281098,22.520895,22.051628,22.296040,3.170324e+08,0.000772,0.001540
std,47.167666,47.671591,46.695061,47.205365,3.352047e+08,0.011967,0.083496
min,0.038287,0.038287,0.037856,0.037856,0.000000e+00,0.000000,0.000000
25%,0.242593,0.247253,0.237761,0.242593,1.123749e+08,0.000000,0.000000
50%,0.435709,0.441764,0.429142,0.436048,2.047920e+08,0.000000,0.000000
75%,17.584826,17.752920,17.428158,17.581134,3.977848e+08,0.000000,0.000000
max,236.206595,236.955728,232.820515,234.548523,7.421641e+09,0.250000,7.000000

In [15]:
df["Dividends"].value_counts()

0.000000    10958
0.001071       21
0.142500        4
0.240000        4
0.230000        4
0.220000        4
0.205000        4
0.192500        4
0.182500        4
0.157500        4
0.130000        4
0.117500        4
0.108929        4
0.000982        4
0.000893        4
0.000714        4
0.094643        3
0.000536        2
0.250000        2
Name: Dividends, dtype: int64

In [16]:
df["Stock Splits"].value_counts()

0.0    11037
2.0        3
7.0        1
4.0        1
Name: Stock Splits, dtype: int64

In [23]:
for i in df.columns :
    print("Max value of "+str(i)+" "+str(df[i].max()))
    print("Min value of "+str(i)+" "+str(df[i].min()))
    print(" ")

Max value of Date 2024-10-01 00:00:00-04:00
Min value of Date 1980-12-12 00:00:00-05:00

Max value of Open 236.2065948881155
Min value of Open 0.0382866392588654

Max value of High 236.95572779308304
Min value of High 0.0382866392588654

Max value of Low 232.82051476730803
Min value of Low 0.0378564782440662

Max value of Close 234.54852294921875
Min value of Close 0.0378564782440662

Max value of Volume 7421640800
Min value of Volume 0

Max value of Dividends 0.25
Min value of Dividends 0.0

Max value of Stock Splits 7.0
Min value of Stock Splits 0.0